{% extends '@EasyAdmin/default/layout.html.twig' %}
{% block main %}
    <div class="row">
        <div class="field-group col-lg-4">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-pencil"></i>
                        Grafiki szablonu
                    </h3>
                </div>
                <div class="box-body"> 
                {{ form_start(form) }}            
                    <div class="form-group  field-text">
                        <label class="control-label">Miniatura konkursu</label><br />
                        {{ form_widget(form.thumbnail) }}
                        <div class="helper">
                            <i class="fa fa-info-circle"></i>
                            Obraz zostanie przeskalowany do szerokości: {{ info.k_width }}px
                        </div>
                        <div>
                        {% if elements.thumbnail is defined %}
                            <hr />
                            <img src="{{ asset('upload/template/'~elements.thumbnail)|imagine_filter('contest_thumbnail') }}"><br />
                            <button class="btn btn-danger btn-xs">Usuń</button>
                        {% endif %}
                        </div>
                    </div>
                    <hr />         
                    <div class="form-group  field-text">
                        <label class="control-label">Obraz nagłówka</label><br />
                        {{ form_widget(form.headerImage) }}
                    </div>
                    <div class="form-group  field-text">
                        <label class="control-label">Obraz tła</label><br />
                        {{ form_widget(form.backgroundImage) }}
                    </div>
                    <div class="form-group  field-text">
                        <label class="control-label">Kolor tła</label>
                        {{ form_widget(form.backgroundColor) }}
                    </div>
                    <div class="form-group  field-text">
                        <label class="control-label">Kolor czcionki</label>
                        {{ form_widget(form.fontColor) }}
                    </div>
                    <div class="form-group  field-text">
                        <label class="control-label">Rozmiar czcionki</label>
                        {{ form_widget(form.fontSize) }} px
                    </div>
                    <div class="form-group  field-text">
                        <label class="control-label">Postów w linii</label>
                        {{ form_widget(form.postPerLine) }}
                    </div>
                    <div class="form-group  field-text">
                        <label class="control-label">Szerokość kafelka</label>
                            {{ form_widget(form.postThumbnailWidth) }} px
                    </div>
                    <div class="form-group  field-text">
                        <label class="control-label">Odległość pomiędzy kafelkami</label>
                        {{ form_widget(form.spaceBetweenPost) }} px
                    </div>
                    <div class="form-group  field-text">
                        <label class="control-label">Obraz stopki</label><br />
                        {{ form_widget(form.footerImage) }}
                    </div>          
                </div>              
            </div>
        </div>
        <div class="field-group col-lg-8">
            <div class="box box-default">
            <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-pencil"></i>
                        Podgląd
                    </h3>
                </div>
                <div class="box-body">
                    <div style="border: 1px solid #dedede">
                        <div style="padding: 10px">
                            <div id="header-image">
                            {% if elements.header_image is defined %}
                                <img src="{{ asset('upload/template/'~elements.header_image) }}"><br />
                            {% endif %}
                            </div>
                            <div id="post-list">TUTAJ BĘDZIE PODGLĄD KAFELKÓW WPISÓW KONKURSOWYCH :)</div>
                            <div id="footer-image">
                            {% if elements.footer_image is defined %}
                                <img src="{{ asset('upload/template/'~elements.footer_image) }}"><br />
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}