   <div class="container">
     <div class="d-inline-block">

            {% for media in parameters.media %}
                <img src="{{ media|media(media) }}"/>
            {% endfor %}
        </div>

        <div class="d-inline-block">
            <div class="d-block bg-primary text-white">
                <b>Dodane przez:</b> {{ parameters.author }}
            </div>

            <div class="d-block bg-primary text-white">
                <small class="text-white">
                    {{ parameters.postDate|date('Y-m-d H:i:s') }}
                </small>
            </div>

            <div class="d-block bg-primary text-white">
                {{ form(parameters.comment_form) }}
            </div>
            <div class="block">
            <b>głosy:</b> {{ parameters.votes }}<br />
                {{ form(parameters.vote_form) }}
            </div>
            <div class="block">
                Komentarze: <br />
                <div class="comments-container">
                    {% for comment in parameters.comments %}
                        <div class="bg-primary comment-box d-block">
                            {{ comment.value }} - {{ comment.author }} <br />
                            {{ comment.createdAt|date('Y-m-d H:i:s') }}
                            {% if app.user.username == comment.author %}
                                <a data-action="remove-comment" class="method-post fa fa-trash text-danger" href="{{ path('remove_comment', {'id' : comment.id}) }}"></a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


<div id="error-box"></div>
</div>